body{
    background-color: white;
    width: 100%;
}
a {
  color:white  ;
  font-size: 18px;
}

header{
    background-color:#FFA500;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    color:white;
    height: 50%;
    width: 100%;
}
.nav{
    
    list-style:none;
    padding:10 px;
    text-align:center;
    width: 100%;
	float: left;
	margin: 0 0 0 0;
	background-color:white;
}
.nav ul{
    width: 100%;
}

.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:25px;
    color:black ;
}