<html>
  <body>
    <div class="header">
      <img src="./assets/logo.png" width=250px height=80px style="float:left">
      
      <div class="dropdown" style="float:right;">
        <input type="text" placeholder="Search..">
        <button class="dropbtn">Micheal Alexander</button>
      </div>
    </div>
    <br><br><br><br>
    <ul class="nav">
      <li><a>DASHBOARD</a></li>
      <li><a>ORDERS</a></li>
      <li><a>PRODUCT</a></li>
      <li><a>REPORTS</a></li>
  </ul>
  <br><br><br><br><br>
    <app-sku></app-sku>
    <app-tco></app-tco>
  </body>
</html>